@font-face {
    font-family: 'Unifont';
    src: url('/public/unifont.woff') format('woff'),
         url('/public/unifont.ttf') format('truetype');
}

body {
    font-family: 'Unifont', 'Arial', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-areas:
        "header header"
        "bio posts"
        "footer footer";
}

.header {
    background: orange;
    grid-area: header;
}

.footer {
    background: red;
    grid-area: footer;
}

.bio {
    background: green;
    grid-area: bio;
}

.posts {
    background: blue;
    grid-area: posts;
}
