.container {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-areas:
        "header header"
        "bio posts"
        "footer footer";
}

.header {
    background: orange;
    grid-area: header;
}

.footer {
    background: red;
    grid-area: footer;
}

.bio {
    background: green;
    grid-area: bio;
}

.posts {
    background: blue;
    grid-area: posts;
}
